<p>Поздравляем
    <%= data.customerName %> ! Вы зарегистрировались на
        <%= data.date %>
</p>
<p>Услуга:
    <%= data.service_translation %>
</p>
<p>
    Время записи: с
    <%= data.period[0] %> по
        <%= data.periodEndData[data.periodEndData.length-1]  %>
            <%=data.date%>
</p>